<footer aria-label="Site Info" class="site-footer">
  <p>
    {{ '©' }}
    <time>{{ 'now' | date: '%Y' }}</time>
    {{ site.social.name }}.
    {{ site.data[site.active_lang].strings.footer_copyright | default: site.data.en.strings.footer_copyright }}
  </p>

  <p class="footer-links">
    <a href="mailto:{{ site.social.email }}">Email</a>
    <span>·</span>
    <a href="https://www.linkedin.com/in/abelkrw" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    <span>·</span>
    <a href="https://github.com/AbelKristanto" target="_blank" rel="noopener noreferrer">GitHub</a>
  </p>
</footer>
