---
layout: compress
---

<!doctype html>

{% include origin-type.html %}
{% include lang.html %}

<html lang="{{ site.active_lang | default: site.lang }}">
  {% include head.html %}

  <body>
    <a class="skip-link" href="#main-content">Skip to content</a>

    {% include topbar-minimalist.html lang=lang %}

    <main id="main-content" class="minimalist-main" aria-label="Main Content">
      {% if layout.refactor or layout.layout == 'default' %}
        {% include refactor-content.html content=content lang=lang %}
      {% else %}
        {{ content }}
      {% endif %}
    </main>

    {% include footer-minimalist.html lang=lang %}

    {% if site.pwa.enabled %}
      {% include_cached notification.html lang=lang %}
    {% endif %}

    {% include js-selector.html %}

    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

    {% include_cached search-loader.html %}
  </body>
</html>
