---
layout: default
---

{% include lang.html %}

<article class="px-1">
  {% include untranslated-notice.html %}
  {% if page.layout == 'page' or page.collection == 'tabs' %}
    {% assign page_title_key = 'nav_' | append: page.title | downcase %}
    {% assign localized_title = site.data[site.active_lang].strings[page_title_key] %}
    <h1 class="dynamic-title">{{ localized_title | default: page.title }}</h1>
    <div class="content">
      {{ content }}
    </div>
  {% else %}
    {{ content }}
  {% endif %}
</article>
